name: Reusable action of Integration tests

on: 
  workflow_call:
    secrets:
      CI_USER_TOKEN:
        required: true
      TRAVIS_COM_TOKEN:
        required: true

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        # You should create a personal access token and store it in your repository
        token: ${{ secrets.CI_USER_TOKEN }}
        repository: 'optimizely/ci-helper-tools'
        path: 'home/runner/ci-helper-tools'
        ref: 'master'
    - name: set SDK Branch if PR
      env: 
        HEAD_REF: ${{ github.head_ref }}
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        echo "SDK_BRANCH=$HEAD_REF" >> $GITHUB_ENV
    - name: set SDK Branch if not pull request
      env:
        REF_NAME: ${{ github.ref_name }}
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        echo "SDK_BRANCH=$REF_NAME" >> $GITHUB_ENV
    - name: Trigger build
      env:
        SDK: swift
        TESTAPP_TAG: master
        BUILD_NUMBER: ${{ github.run_id }}
        TESTAPP_BRANCH: master
        GITHUB_TOKEN: ${{ secrets.CI_USER_TOKEN }}
        EVENT_TYPE: ${{ github.event_name }}
        GITHUB_CONTEXT: ${{ toJson(github) }}
        #REPO_SLUG: ${{ github.repository }}
        PULL_REQUEST_SLUG: ${{ github.repository }}
        UPSTREAM_REPO: ${{ github.repository }}
        PULL_REQUEST_SHA: ${{ github.event.pull_request.head.sha }}
        PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
        UPSTREAM_SHA: ${{ github.sha }}
        EVENT_MESSAGE: ${{ github.event.message }}
        HOME: 'home/runner'
      run: |
        home/runner/ci-helper-tools/trigger-script-with-status-update.sh
