name: Source clear

on:
  push:
    branches: [ master ]
  schedule:
    # Runs "weekly"
    - cron: '0 0 * * 0'

jobs:
  source_clear:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v3
      - name: Source clear scan
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
        run: |
          gem install cocoapods -v '1.15.2'
          curl -sSL https://download.sourceclear.com/ci.sh | bash -s - scan
